* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Bangers-Regular";
  src: url(./assets/fonts/Bangers-Regular.ttf);
}

@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/Outfit/Outfit-Medium.ttf);
}

body {
  font-family: "Bangers-Regular", sans-serif;
  letter-spacing: 3px;
  height: 100vh;
  width: 100vw;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 150px;
  background-color: rgb(30, 30, 87);
  display: flex;
  justify-content: center;
}
.header-content {
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: rgb(154, 131, 63);
}

header img {
  width: 150px;
  height: auto;
}

main {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: rgb(25, 37, 37);
}

.main-content {
  margin: 40px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.poke-card {
  height: 280px;
  width: 250px;
  /* background-color: rgb(21, 21, 155); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-radius: 1rem;
}

.poke-card-header {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
  gap: 20px;
  height: 50px;
  background-color: rgb(23, 28, 105);
  width: 100%;
  border-radius: calc(1rem - 5px) calc(1rem - 5px) 0 0;
}

.poke-img {
  width: 140px;
  height: auto;
}

.poke-img:hover {
  filter: saturate(300%);
  transform: scale(1.1);
  cursor: pointer;
}

.poke-card-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  background-color: rgb(23, 28, 105);
  width: 100%;
  border-radius: 0 0 calc(1rem - 5px) calc(1rem - 5px);
}

footer {
  height: 150px;
  background-color: rgb(30, 30, 87);
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 80%;
  color: rgb(154, 131, 63);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
}

.modal-content {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 30px;
  height: 650px;
  width: 440px;
  border-radius: 1rem;
  font-family: "Outfit", sans-serif;
  border: 2px solid black;
}

.modal-img {
  height: 220px;
  width: 220px;
}

.modal-img-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 170px;
  background-color: rgba(39, 43, 58);
  width: 100%;
  color: blanchedalmond;
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

.modal-type {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: blanchedalmond;
  width: 100%;
  height: 170px;
  background-color: rgba(39, 43, 58);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
  border: 1px solid rgb(63, 117, 99);
  border-bottom: 4px solid rgb(219, 151, 25);
}

.modal-btn:hover {
  cursor: pointer;
  color: rgb(167, 157, 24);
}

.modal-btns {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: blanchedalmond;
  background-color: rgb(35, 65, 55);
}

.modal-closed {
  visibility: hidden;
}

.overlay-dp-none {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.375);
}

.info-body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
  background-color: rgb(114, 182, 159);
  height: 100%;
  width: 100%;
  color: rgb(22, 20, 18);
  border-radius: 0 0 calc(1rem - 1px) calc(1rem - 1px);
}
